* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.footer-ul-redes, .footer-ul-link {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.25rem;
}
@media screen and (max-width: 576px) {
  .footer-ul-redes, .footer-ul-link {
    font-size: 1rem;
  }
}

.footer-a-redes, .footer-a-link {
  text-decoration: none;
  color: #FF0000;
}
.footer-a-redes:hover, .footer-a-link:hover {
  color: rgba(255, 0, 0, 0.692);
}

.container-p-ver-mas-partidos, .container-p-ver-mas-noticias {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .container-p-ver-mas-partidos, .container-p-ver-mas-noticias {
    justify-content: center;
  }
}
.container-p-ver-mas-partidos a, .container-p-ver-mas-noticias a {
  text-decoration-color: #FF0000;
}
.container-p-ver-mas-partidos a p, .container-p-ver-mas-noticias a p {
  margin-bottom: 0;
  display: inline;
  margin-right: 30px;
  color: #FF0000;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .container-p-ver-mas-partidos a p, .container-p-ver-mas-noticias a p {
    margin-right: 0;
  }
}

.card-title-index-central, .card-title-index-1 {
  font-family: "Covered By Your Grace", cursive;
  color: #FF0000;
  font-size: 12vw;
  margin: 0;
}

.titulo-melobasket-container, .titulo-melolife-container {
  background-color: #FF0000;
  color: #FF0000;
}
.titulo-melobasket-container h1, .titulo-melolife-container h1 {
  margin-bottom: 0;
  padding-left: 20px;
  -webkit-text-stroke: 2px #000000;
  font-size: 80px;
  line-height: 1.5;
}
@media screen and (max-width: 450px) {
  .titulo-melobasket-container h1, .titulo-melolife-container h1 {
    font-size: 60px;
  }
}

.p-right, .p-left {
  padding: 1vw 2vw;
  font-size: 1.45rem;
}
.p-right p, .p-left p {
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .p-right, .p-left {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 768px) {
  .p-right, .p-left {
    font-size: 1.25rem;
  }
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8980392157);
}

.container-nav {
  padding: 0;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-toggler {
  margin-right: 25px;
  background-color: rgba(255, 0, 0, 0.768627451);
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    justify-content: end;
    padding-right: 25px;
  }
}

.nav-link {
  color: #FF0000;
  font-size: 1.5rem;
  margin: 0 12px;
  padding-top: 5px;
}
.nav-link:hover {
  color: rgba(255, 0, 0, 0.692);
}
@media screen and (max-width: 767px) {
  .nav-link {
    border-bottom: 1px solid #FF0000;
    background: linear-gradient(to bottom, transparent, #000000);
    padding-left: 15px;
    font-size: 1.25rem;
    margin: 0;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.8980392157);
}

.container-footer {
  padding-top: 15px;
}

.footer-link-pag {
  padding-left: 15px;
}

.footer-li-link {
  justify-content: start;
  display: flex;
}

.footer-logo-copy {
  margin-top: 30px;
}

.footer-img {
  justify-content: center;
  display: flex;
}

.footer-copyright {
  color: #FF0000;
  font-size: 1.2rem;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 576px) {
  .footer-copyright {
    font-size: 1rem;
  }
}

.footer-link-redes {
  padding-right: 15px;
}

.footer-li-redes {
  justify-content: end;
  display: flex;
}

.container-img-inicio {
  border-radius: 0;
}

.card-img-mio {
  border-radius: 0;
}

.card-img-overlay-mio {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .card-title-index-1 {
    font-size: 14vw;
  }
}

.container-general-noticias {
  margin: 15px 0;
}

.container-titulo-noticia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}
.container-titulo-noticia .titulo-noticia {
  display: inline-block;
  color: #FF0000;
  font-size: 5rem;
}
@media screen and (max-width: 1075px) {
  .container-titulo-noticia .titulo-noticia {
    font-size: 4rem;
  }
}
@media screen and (max-width: 900px) {
  .container-titulo-noticia .titulo-noticia {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .container-titulo-noticia .titulo-noticia {
    font-size: 2.8rem;
  }
}

.container-noticias {
  justify-content: space-evenly;
}

.container-primer-noticia, .container-segunda-noticia, .container-tercer-noticia {
  display: flex;
}

@media screen and (max-width: 768px) {
  .container-tercer-noticia {
    display: none;
  }
}

.cont-body-noticia {
  padding: 5px;
}

.texto-noticia {
  font-size: 1.5rem;
  margin-bottom: 0;
}
@media screen and (max-width: 1075px) {
  .texto-noticia {
    font-size: 1.2rem;
  }
}

.container-general-partidos {
  margin: 15px 0;
}

.cont-text-prox-part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6vw;
}

.titulo-prox-part {
  color: #FF0000;
  font-size: 5rem;
  display: inline-block;
}
@media screen and (max-width: 1075px) {
  .titulo-prox-part {
    font-size: 4rem;
  }
}
@media screen and (max-width: 900px) {
  .titulo-prox-part {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .titulo-prox-part {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 400px) {
  .titulo-prox-part {
    font-size: 2.4rem;
  }
}

.row-container-partidos {
  justify-content: space-evenly;
}

.cont-part {
  border: 1px solid #B8B8B8;
  border-radius: 2%;
  display: flex;
}

@media screen and (max-width: 576px) {
  .cont-part-1 {
    margin-bottom: 20px;
  }
}

.cont-tit-part {
  border-bottom: 1px solid #B8B8B8;
  margin-bottom: 10px;
}
.cont-tit-part .tit-part {
  font-size: 1.95rem;
}
@media screen and (max-width: 1075px) {
  .cont-tit-part .tit-part {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .cont-tit-part .tit-part {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 768px) {
  .cont-tit-part .tit-part {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 400px) {
  .cont-tit-part .tit-part {
    font-size: 1.4rem;
  }
}

.img-logo {
  width: 70px;
}

.vs-container {
  flex-wrap: wrap;
}

.p-partidos {
  font-size: 1.7rem;
  line-height: 1;
  margin: 0;
}
@media screen and (max-width: 1075px) {
  .p-partidos {
    font-size: 1.4rem;
  }
}

.cont-dia {
  margin: 7px 0;
  border-top: 1px solid #B8B8B8;
  padding-top: 7px;
}

.cont-estadio {
  margin: 7px 0;
}

@media screen and (max-width: 768px) {
  .cont-part-3 {
    display: none;
  }
}

.container-general-bio {
  margin-left: 15px;
}

.container-bio {
  padding: 0;
  border-left: 10px solid #FF0000;
  padding-top: 16px;
}
@media screen and (max-width: 767px) {
  .container-bio {
    padding: 0;
    border-left: 15px solid #FF0000;
    padding-top: 16px;
  }
}

.card-mio-bio {
  max-width: 93%;
  margin: 0 auto;
  padding: 0;
}

.card-body-mio-bio {
  padding-top: 8px;
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .card-body-mio-bio {
    padding-bottom: 16px;
  }
}

.card-title-mio-bio {
  font-size: 30px;
  margin-bottom: 0px;
}
@media screen and (max-width: 992px) {
  .card-title-mio-bio {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .card-title-mio-bio {
    font-size: 21px;
  }
}

.card-text-mio-bio {
  font-size: 19px;
}
@media screen and (max-width: 992px) {
  .card-text-mio-bio {
    font-size: 14.5px;
  }
}
@media screen and (max-width: 767px) {
  .card-text-mio-bio {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .card-text-mio-bio {
    font-size: 17px;
  }
}

.container-bio-1 {
  padding: 0;
  border-left: 10px solid black;
  padding-top: 16px;
}
@media screen and (max-width: 767px) {
  .container-bio-1 {
    padding: 0;
    border-left: 15px solid black;
    padding-top: 16px;
  }
}

.borde-bottom {
  border-bottom: 25px solid rgba(0, 0, 0, 0.8980392157);
}

@media screen and (max-width: 768px) {
  .container-flex {
    flex-direction: column;
  }
}

.container-iframe-basket {
  width: 560px;
  height: 315px;
}
@media screen and (max-width: 768px) {
  .container-iframe-basket {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
.container-iframe-basket iframe {
  width: 560px;
  height: 315px;
}
@media screen and (max-width: 768px) {
  .container-iframe-basket iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.iframe-left {
  border-left: 25px solid #FF0000;
}

@media screen and (max-width: 768px) {
  .p-left {
    border-left: 25px solid #FF0000;
  }
}

@media screen and (max-width: 768px) {
  .container-flex-reves {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .p-right {
    border-right: 25px solid #FF0000;
  }
}

.iframe-right {
  border-right: 25px solid #FF0000;
}

.container-img-tienda {
  margin-bottom: 24px;
  border-radius: 0;
}

.card-img-mio {
  border-radius: 0;
}

.card-img-overlay-mio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title-meloshop {
  font-family: "Oswald", sans-serif;
  color: rgba(0, 0, 0, 0.768627451);
  font-size: 14vw;
}

.card-mio-tienda {
  border-color: #FF0000;
  width: 15rem;
}

.card-title-meloshop-prendas {
  color: #FF0000;
  font-size: 30px;
}

.card-subtitle-meloshop {
  color: #FF0000;
  font-size: 17px;
  margin-bottom: 20px;
}

.card-text-tienda {
  font-size: 20px;
}

.btn-comprar {
  background-color: #FFFFFF;
  border-color: #FF0000;
  color: #FF0000;
  font-size: 20px;
  margin-top: -14px;
}
.btn-comprar:hover {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
}
.btn-comprar:active {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
}

.registro-container {
  background-image: url(../IMG/lameloback3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
}
@media screen and (max-width: 768px) {
  .registro-container {
    padding: 7vw;
  }
}

.registro {
  background-color: rgba(0, 0, 0, 0.4392156863);
  width: 70%;
  margin: auto;
  color: #FFFFFF;
  padding: 50px 120px;
}
@media screen and (max-width: 768px) {
  .registro {
    width: 90%;
    padding: 50px 20px;
  }
}

.img-registro-container {
  justify-content: center;
  align-items: center;
}

.form-container {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.input-1 {
  width: 100%;
}

.form-text {
  color: #FFFFFF;
}

.input-2 {
  width: 100%;
  margin-bottom: 20px;
}

.buttons-registro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 0 20px 10px;
  padding: 5px;
  background-color: #FF0000;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.boton-olv-tu-cont {
  background-color: transparent;
  border-color: transparent;
  color: #FFFFFF;
}

.texto-registro-container {
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.row {
  --bs-gutter-x: 0rem;
}

.container-fluid {
  --bs-gutter-x: 0rem;
}

/*# sourceMappingURL=style.css.map */
