.container-img-tienda {
    margin-bottom: 24px;
    border-radius: 0;
}

.card-img-mio {
    border-radius: 0;
}

.card-img-overlay-mio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title-meloshop {
    font-family: 'Oswald', sans-serif;
    @include titulos (#000000c4, 14vw);
}

.card-mio-tienda {
    border-color: $color-rojo;
    width: 15rem;
}

.card-title-meloshop-prendas {
    @include titulos ($color-rojo, 30px);
}

.card-subtitle-meloshop {
    @include titulos ($color-rojo, 17px);
    margin-bottom: 20px;
}

.card-text-tienda {
    font-size: 20px;
}

.btn-comprar {
    background-color: $color-blanco;
    border-color:$color-rojo;
    color: $color-rojo;
    font-size: 20px;
    margin-top: -14px;
    &:hover {
        background-color: $color-rojo;
        border-color: $color-rojo;
        color: $color-blanco;
    }
    &:active {
        background-color: $color-rojo;
        border-color: $color-rojo;
        color: $color-blanco;
    }
}