%footer-ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.25rem;
    @media screen and (max-width:576px) {
        font-size: 1rem;
    }
}

%footer-a {
    text-decoration: none;
    color: #FF0000;
    &:hover {
        color:  rgba(255, 0, 0, 0.692);
    }
}

%cont-p-ver-mas {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    @media screen and (max-width:576px) {
        justify-content: center;
    }
    a {
        text-decoration-color: #FF0000;
        p {
            margin-bottom: 0;
            display: inline;
            margin-right: 30px;
            color: #FF0000;
            font-weight: 700;
            @media screen and (max-width:576px) {
                margin-right: 0;
            }
        }
    }
}

%card-title-index {
    font-family: 'Covered By Your Grace', cursive;
    color: #FF0000;
    font-size: 12vw;
    margin: 0;
}

%titulo-melo {
    background-color: #FF0000;
    color: #FF0000;
    h1 {
        margin-bottom: 0;
        padding-left: 20px;
        -webkit-text-stroke: 2px #000000;
        font-size: 80px;
        line-height: 1.5;
        @media screen and (max-width:450px) {
            font-size: 60px;
        }
    }
}

%container-p-basket {
    padding: 1vw 2vw;
    font-size: 1.4rem;
    p {
        margin-bottom: 0;
    }
    @media screen and (max-width:992px) {
        font-size: 0.95rem;
    }
    @media screen and (max-width:768px) {
        font-size: 1.25rem;
    }
}